*{
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-Medium.otf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-Light.otf);
    font-weight: 300;
 }

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-BlackItalic.otf);
    font-weight: 900;
    font-style: italic;
}

 @font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-BoldItalic.otf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-MediumItalic.otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-LightItalic.otf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Poppins-ThinItalic.otf);
    font-weight: 100;
    font-style: italic;
}

body {
    margin: 0;
    font-family: Roboto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#aa5042;
    top: 0;
    width: 100%;
    height: 70px;
}

nav ul li img {
    height: 100%;
}

nav li {
    float: left;
    height: 100%;
}

nav li a {
    display: block;
    color: white;
    padding: 22px 16px;
    text-decoration: none;
    transition: color 1s;
    height: 100%;
}

nav li a:hover {
    background-color:#d8bd8a;
    transition: .3s;
}

nav li:first-child {
    padding-left: 20px;
    padding-right: 35px;
}

main p {
    font-weight: 300;
    color: #582817;
    text-align: justify;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.headerimage {
    height: auto;
    max-height: 450px;
    overflow:hidden;
    display: flex;
}
.headerimage img {
    height: auto;
    width: 100%;
}

.embedded {
    height: auto;
    width: 100%;
    float: left; 
    padding-right: 12px; 
    padding-top: 13px; 
    overflow: hidden; 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aa5042;
    color:white;
    bottom: 0;
    width: 100%;
    text-align: center;
}

